In [1]:
def total_price(price: int, tax: float) -> float:
    print(price * (100 + tax) / 100)

total_price(2000, 10)
total_price(5500, 10)

2200.0
6050.0

In [2]:
def total_price(price: int, tax: float) -> float:
    return price * (100 + tax) / 100

print(total_price(10000, 10))
print(total_price(7850, 10))

11000.0
8635.0